.taskContainer {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    padding-top: 2rem;
}

.textContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.check {
    margin: 15px;
}

.title {
    text-wrap: wrap;
    word-wrap:break-word;
    text-decoration: none;
}
.titleOverline {
    text-wrap: wrap;
    word-wrap:break-word;
    text-decoration: line-through;
}

.description {
    text-wrap: wrap;
}
.overline {
    text-decoration: overline;
}